@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
@model ClientModel
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="row">
            <div class="col-xl-6">
                <h1>Dotacje Unijne na rok 2022</h1>
                <h2>Prowadzimy zapisy na dotacje Unijne z rożnych gatunków życia</h2>
                <a href="#about" class="btn-get-started scrollto">Zapisz się </a>
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Skontaktuj sie znami </h2>
            <p>Nie warto tracić czasu. Swiat nie znosi próżni. Skontaktuj się z nami a my zabierzemy cię do świata w któym pomoc drugiemu człowiekowi na 1 miesjcu </p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box">
                            <i class="bx bx-map"></i>
                            <h3>Adres</h3>
                            <p>Ulica Kropkowa 145</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-envelope"></i>
                            <h3>Email do nas</h3>
                            <p>dotacje_unijne@gmail.com<br>dotacje_unijne2@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4">
                            <i class="bx bx-phone-call"></i>
                            <h3>Zadzwoń do nas</h3>
                            <p>+123456789<br>987654321</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">
                <form method="POST" asp-action="Add">
                    <div class="row">
                        <div class="col form-group">
                            
                            <input asp-for="Name" class="form-control" placeholder="Imie" />
                        </div>
                        <br />
                        <div class="col form-group">
                            
                            <input asp-for="Mail" class="form-control" placeholder="Nazwisko" />
                        </div>
                        <br />
                    </div>
                    <br />
                    <div class="form-group">
                       
                        <input asp-for="Topic" class="form-control" placeholder="Opis problemu " />
                    </div>
                    <br/>
                    <div class="form-group">
                       
                        <input asp-for="Description" class="form-control" placeholder="Opis Alternatynwy" />
                    </div>
                    <br />
                    <div><center><input type="submit" class="btn btn-danger " value="Add new item"</center> </div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
