@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
            <div class="content col-xl-5 d-flex align-items-stretch">
                <div class="content">
                    <h3>Mail został wysłany! Prosimy o cierpliwe oczekiwanie na odpowiedź :)</h3>
                    <p>

                    </p>
                    <a asp-controller="Home" asp-action="Index" class="about-btn"><span> Powrót do strony głównej</span> <i class="bx bx-chevron-right"></i></a>
                </div>
            </div>
            
            
        </div>
        
