@{
    ViewData["Title"] = "Home Page";
}
@model Strona.Areas.Identity.Pages.Account.RegisterModel

<section id="hero" class="d-flex align-items-center">


    <div class="container" data-aos="zoom-out" data-aos-delay="100">
        <div class="row">
            <div class="col-xl-6">
                <h1>Dotacje Unijne na rok 2022</h1>
                <h2>Prowadzimy zapisy na dotacje Unijne z rożnych gatunków życia </h2>
                <a href="#about" class="btn-get-started scrollto">Czym się zajmujemy </a>
            </div>
        </div>
    </div>

</section>

<main id="main">
    
    <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">

            <div class="row no-gutters">
                <div class="content col-xl-5 d-flex align-items-stretch">
                    <div class="content">
                        <h3>Pomagamy uzyskać dofinasowanie z następujących dziedziń</h3>
                        <p>

                        </p>
                        <a href="#" class="about-btn"><span> Firma </span> <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
                <div class="col-xl-7 d-flex align-items-stretch">
                    <div class="icon-boxes d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                <i class="bx bx-receipt"></i>
                                <h4>Rolnictwo</h4>
                                <p>Pomagamy uzyskać dofinasowania unijne w zakresie roślin strączkowych na ziarno, roślin pastewnych, buraków cukrowych, ziemniaków skrobiowych, pomidorów, truskawek, chmielu, lnu oraz konopi włóknistych</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Działalność gospodarcza</h4>
                                <p>Udzielamy porad jak otrzymać dofinansowanie w ramach uruchamiana swojej pierwszej firmy</p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                                <i class="bx bx-images"></i>
                                <h4>Szkolnictwo</h4>
                                <p>W ramach współpracy z lokalnymi szkołami pomagamy uzyskać dotacje na nowy sprzęt komputerowy  oraz wszelakie materiały pomocne w nauce oraz na hale sportowe </p>
                            </div>
                            <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                                <i class="bx bx-shield"></i>
                                <h4>Infrastruktura</h4>
                                <p>Udzielamy wspracia ośrodkom gminnym jak otrzymać dofinansowanie na lokalne drogi chodni itp aspekty</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up">

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-emoji-smile"></i>
                        <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Zadowoleni klienci </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="bi bi-journal-richtext"></i>
                        <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Projekty </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-headset"></i>
                        <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Godziny wsparcia </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-people"></i>
                        <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter"></span>
                        <p>Nasza drużyna</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="services" class="services section-bg ">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Nasze atuty </h2>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <i class="bi bi-briefcase"></i>
                        <h4>Zaaganżowanie</h4>
                        <p>Naszym priorytetetem jest pomoc,z pieczołowitością zajmujejmy każdym problem naszych klientów</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <i class="bi bi-card-checklist"></i>
                        <h4>Profesjonalizm i wiedza</h4>
                        <p>Jesteśmy grupą specjalistów posiadających wieloletnie doświadczenie. Nieustannie szkolimy się i podnosimy nasze kwalifikacje.</p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <i class="bi bi-bar-chart"></i>
                        <h4> Najepsi Współpracają z nami </h4>
                        <p>Współpracujemy z wielona firmami oraz podmiotami którzy są znani na całym świecie </p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <i class="bi bi-binoculars"></i>
                        <h4>Pomoc Prawna</h4>
                        <p>W naszej grupie jest prawdnik który rozwieje wszelkie państwa wątpliości z zakresu prawa unijnego </p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
                        <i class="bi bi-brightness-high"></i>
                        <h4>Kompleksowe biuro </h4>
                        <p>W naszym zakątku prócz pomocy z zakresu dotacjii unijnych mogą państwo wyciszyć się , odprężyc w specjalnie przygotowanym pokoju ciszy </p>
                    </div>
                </div>
                <div class="col-md-6 mt-4 mt-md-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
                        <i class="bi bi-calendar4-week"></i>
                        <h4><a href="#">Natychmiastowe porady </a></h4>
                        <p>Średni czas oczekiwania na spotkanie wynosi 1 dzień</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="Opinion" class="testimonials">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Opinie naszych klientów</h2>

            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                                <h3>Ryszard Nowak</h3>
                                <h4>Ekonomista</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Bardzo polecam tą firmę, niespotykanie kompetetna załoga
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                                <h3>Sara Kowalska</h3>
                                <h4>Projektankta</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Od kilku lat współpracuję z tą firmą. Jeszcze nigdy sie nie zawiodłam
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                                <h3>Izabela Dyzma</h3>
                                <h4>Architekt</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Jestem Architektem potrzebowałam uzyskać dofinansowanie dla mojej firmy. Gdy trafiłam do państwa udało mi się uzyskać dofinasowanie w bardzo krókim czasie.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                                <h3>Rafał Krawczyk</h3>
                                <h4>Programista</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Szczerze , Polecam.  W dzisiejszych czasach rzadko sie trafia tak profesjonalna firma.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                                <h3>Jerzy Ponimirski</h3>
                                <h4>Psycholog</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Miałem dylemat jakie dofinansowanie będzie dla mnie odpowidnie Gdy trafiłem do was wszystko zostało mi skrupulatnie wytłumaczone.
                                    Dziękuje
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>

    <section id="FAQ" class="faq">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Najczęściej zadawane pytania</h2>
            </div>

            <ul class="faq-list accordion" data-aos="fade-up">

                <li>
                    <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1">Jak długo trzeba oczekiwać na poradę? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Zależy nam na naszych klientach, dlatego średni czas oczekiwania wynosi jeden dzień.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed">Czy pierwsza wizyta jest darmowa? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Tak, pierwsze spotkanie jest darmowe.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed">Gdzie znajduje się państwa biuro?  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Nasza firma znajduje się w ścisłym centrum miasta.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed">Jak skontaktować się z nami? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Można do nas zadzwonić na numer 123456789 bądz napisać maila na dotacjeunijne@gmail.com lub klikając w link na górze strony "Kontakt" i wypełniając formularz.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed">Jaki jest koszt współpracy z naszą firmą?  <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Każde zgłoszenie jest przez nas wyceniane indywidualnie.
                        </p>
                    </div>
                </li>

                <li>
                    <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed">Czy pomagają państwo uzyskać dotację dla osób mieszkających za granicą? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Tak, prowadzimy dzialność w większości państw Unii Europejskiej.
                        </p>
                    </div>
                </li>

            </ul>

        </div>
    </section>
    

</main>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}